version: '3.8'
services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
    depends_on:
      - fastapi_app
    volumes:
      - ./default_fastapi.conf:/etc/nginx/conf.d/default.conf:ro  # proxy conf 오버라이드
  fastapi_app:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    expose:  # ports 제거 (내부 전용)
      - "8000"
