version: '3.8'
services:
  nginx:
    image: 036333380579.dkr.ecr.us-east-1.amazonaws.com/sun/nginx-ecr:latest
    ports: ['8080:80']
    volumes:
      - ../nginx-private/dafault_fastapi.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on: [fastapi_app]

  fastapi_app:
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    expose:
      - "8000"
